extends ../layout

block content
  h1= title

  button 
    a(href="/todos") Retour

  p Voici la todo :

  table(border=1)
    tr
      th Id
      td= task._id
    tr
      th Pour
      td= task.for
    tr
      th Tache
      td= task.desc
    //- tr
    //-   th Team
    //-   td= task.teamId
